<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ar</string>
		<string>ca</string>
		<string>zh-HK</string>
		<string>zh_Hans</string>
		<string>zh_Hant</string>
		<string>hr</string>
		<string>cs</string>
		<string>da</string>
		<string>nl</string>
		<string>en</string>
		<string>en-AU</string>
		<string>en-IN</string>
		<string>en-UK</string>
		<string>fi</string>
		<string>fr</string>
		<string>fr-CA</string>
		<string>de</string>
		<string>el</string>
		<string>hi</string>
		<string>hu</string>
		<string>id</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>ms</string>
		<string>nb</string>
		<string>pl</string>
		<string>pt-BR</string>
		<string>pt-PT</string>
		<string>ro</string>
		<string>ru</string>
		<string>sk</string>
		<string>es</string>
		<string>es-419</string>
		<string>sv</string>
		<string>th</string>
		<string>tr</string>
		<string>uk</string>
		<string>vi</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
</dict>
</plist>
